/* BUTTON */

.button {
  padding: .5%;
  background-color: black;
  color: white;
  border-radius: 9999px;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}


.button:focus,.button:hover {
  outline:none;
}

.logo {
  height: 100%;
  width: auto;
  vertical-align:middle;
 }

.text {
  display:inline-block;
  padding: 0 .75em;
  vertical-align:middle;
  font-size: 100%!important;
}

/* DIALOGE */

.issueIcon {
  padding-right: .5em;
  width: auto;
  vertical-align:middle;
  padding-bottom: .25em;
}

.reportIssueButton {
  margin-left:auto;
}

.descriptionInput {
  height: 20vh;
  display: flex;
  flex-direction: column;
  padding-top: .75em!important;
}

.descriptionIssueLabel{
  padding-top: .75em;
}